<div class="container bordered knockout-match">
  <div style="text-align: center; border-bottom: 1px solid black">
    <h5>Match {{matchNumber+1}}</h5>
  </div>
    <div class="list-group container" dragula="'knockoutmatch'" [(dragulaModel)]="participants" id="{{match.uid}}">
      <div [attr.class]="isEditMode ? 'drag-item' : 'drag-item no-drag'" *ngFor="let participant of participants" name="participants">
          <div [attr.class]="participant.uid == match.winnerId ? 'match-winner list-group-item list-group-item-action' : 'list-group-item list-group-item-action'" name="participant" id="{{participant.uid}}">
            <h5>{{participant.name}}</h5>
          </div>
      </div>    
  </div>
</div>