@import './variables';
@import './mixins';
body {
    background: $primaryColor;
    margin: 2em;
}

p {
    
}

h1 {
    color: $primaryFontColor;
    font-family: $primaryFont;
    font-size: 250%;
}

h2,
h3 {
    color: $primaryFontColor;
    font-family: $primaryFont;
    font-weight: lighter;
}

body,
input[text],
button {
    color: #888;
    font-family: Cambria, Georgia;
}


/* everywhere else */

* {
    font-family: Arial, Helvetica, sans-serif;
}