<div *ngIf="isOwner == true" class="container">
    <a class="btn btn-primary text-white" style="width: 10rem;" (click)=" addPoule() ">Add poule</a>
    <div class="row ">
        <div *ngFor="let p of competition.poules ">
            <div class="poule-container ">
                <div class="card text-center text-white bg-secondary mb-3 " style="width: 20rem; height: 18rem; ">
                    <h1 class="card-header ">{{ p.name }}</h1>
                    <participant-list [participants]="p.participants "></participant-list>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isOwner==f alse " class="container ">
    <div class="row ">
        <div *ngFor="let p of competition.poules ">
            <div class="poule-container ">
                <div class="card text-center text-white bg-secondary mb-3 " style="width: 20rem; height: 18rem; ">
                    <h1 class="card-header ">{{ p.name }}</h1>
                    <participant-list [participants]="p.participants "></participant-list>
                </div>
            </div>
        </div>
    </div>
</div>