<div *ngIf="isOwner; then owner else not_owner"></div>
<ng-template #owner>
  <div  class="container">
    <div class="row">
      <div *ngFor="let p of competition.poules" class="col-lg-2 poule-container">
        <div class="poule-name">
          <h1>{{ p.name }}</h1>
        </div>
        <participant-list [participants]="p.participants"></participant-list>
        <a *ngIf="competition.unassignedParticipants.length > 0" (click)="addParticipantToPoule(competition.unassignedParticipants[0], p)">
          Add participant
        </a>
      </div>
      <a (click)="addPoule()">+ add poule</a>
    </div>
  </div>
</ng-template>

<ng-template #not_owner>
  NOT OWNER
</ng-template>