<div  *ngIf="isOwner == true" class="container">
  <div class="row">
    <div *ngFor="let p of competition.poules" class="col-lg-2 poule-container">
      <div class="poule-name">
        <h1>{{ p.name }}</h1>
      </div>
      <participant-list [participants]="p.participants"></participant-list>
    </div>
    <a (click)="addPoule()">+ add poule</a>
  </div>
</div>

<div *ngIf="isOwner == false"  class="container">
  <div class="row">
    <div *ngFor="let p of competition.poules" class="col-lg-2 poule-container">
      <div class="poule-name">
        <h1>{{ p.name }}</h1>
      </div>
      <participant-list [participants]="p.participants"></participant-list>
    </div>
  </div>
</div>