<nav class="navbar navbar-fixed-top navbar-dark bg-dark" style="background-color: #e3f2fd;">
    <div class="clearfix">
        <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler pull-xs-right hidden-sm-up" type="button" aria-controls="bd-main-nav" aria-label="Toggle navigation">
            {{menuIcon}}
        </button>
    </div>
    <!-- <form class="form-inline">
        <button (click)="login()" class="btn btn-sm btn-outline-secondary text-white" type="button">Login</button>
    </form> -->
    <div class="navbar-toggleable-xs navbar-collapse" id="bd-main-nav" [attr.aria-expanded]="!isCollapsed" [ngClass]="{collapse: isCollapsed}">
        <ul class="nav navbar-nav">
            <li (click)="isCollapsed = true" *ngFor="let menuItem of menuItems" class="nav-item" routerLinkActive="active" [ngClass]="getMenuItemClasses(menuItem)">
                <a class="nav-item nav-link" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="[menuItem.path]" routerLinkActive="active">{{menuItem.title}}</a>
            </li>
        </ul>
    </div>
</nav>