.details-container {
    margin: 10px;
    padding: 0;
}
.settings-container {
    height: 100%;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.settings-item {
    margin: 10px auto;
    display: block;
}