.knockout-round {
    margin: auto;
    height: 100%;
}
.knockout-round-0 {
    width: 50%;
}
.knockout-round-1 {
    width: 30%;
}
.knockout-round-2 {
    width: 20%;
}
.knockout-round-3 {
    width: 10%;
}
.knockout-match {
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
}

.bordered {
    border: 1px solid black; 
}
.match-winner {
    color: green;
}

.drag-item {
    text-align: center;
    margin: 10px;
}

.knockout-match {
    height: 250px;
    margin: 10px;
    padding: 0;
}
/* in-flight clone */

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    pointer-events: none;
}


/* high-performance display:none; helper */

.gu-hide {
    left: -9999px !important;
}


/* added to mirrorContainer (default = body) while dragging */

.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}


/* added to the source element while its mirror is dragged */

.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}