.knockout-round {
    margin: auto;
    height: 100%;
}
.knockout-round-0 {
    width: 50%;
}
.knockout-round-1 {
    width: 30%;
}
.knockout-round-2 {
    width: 20%;
}
.knockout-round-3 {
    width: 10%;
}
.knockout-match {
    height: 100%;
}