<div class="row ">
  <div *ngFor="let poule of poules ">
    <div class="poule-container">
        <div class="card text-center text-white bg-secondary mb-3 " style="width: 20rem; height: 18rem; ">
            <h1 class="card-header ">{{ poule.name }}</h1>
            <div *ngIf="poule.participants.length < 1">
                <h5>No Participants</h5>
            </div>
            <div class="container list-group" dragula="poule" [(dragulaModel)]="poule.participants">
                <div class="list-items" *ngFor="let participant of poule.participants" name="participants">
                    <p class="list-group-item list-group-item-action" tag="participant" id="{{ participant.uid }}">{{participant.displayName}}</p>
                </div>
            </div>        
        </div>
    </div>
  </div>
</div>