<div class="container">
    <div class="row">
        <div *ngFor="let poule of poules" name="poule">
            <div class="poule-container">
                <div class="card text-center text-white bg-secondary mb-3" style="width: 20rem; height: 18rem;">
                    <h1 class="card-header ">{{ poule.name }}</h1>
                    <div *ngIf="poule.participants.length < 1">
                        <h5>No Participants</h5>
                    </div>
                    <div class="container" dragula="'poule'" [(dragulaModel)]="poule.participants">
                        <div [attr.class]="isEditMode ? 'drag-item' : 'drag-item no-drag'" *ngFor="let p of poule.participants" name="participants">
                            <p class="list-group-item list-group-item-action" tag="participant" id="{{ p.uid }}">{{p.displayName}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>